<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-list>

      <ion-item id="id">
        <ion-label position="floating">ID:</ion-label>
        <ion-input type="long" value=""></ion-input>
      </ion-item>
 
      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input type="String" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input type="email" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Celular:</ion-label>
        <ion-input type="tel" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input [type]="isTextFieldType ? 'text' : 'password'"></ion-input>
      </ion-item>

    </ion-list>
  </div>
</ion-content>