<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Salas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-list>

      <ion-item id="id">
        <ion-label position="floating">ID a:</ion-label>
        <ion-input type="long" value=""></ion-input>
      </ion-item>
 
      <ion-item>
        <ion-label position="floating">Tipo de Sala:</ion-label>
        <ion-input type="String" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Numero:</ion-label>
        <ion-input type="email" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Bloco:</ion-label>
        <ion-input type="char" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Area:</ion-label>
        <ion-input type="char" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Unidade Institucional:</ion-label>
        <ion-input type="char" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Capacidade:</ion-label>
        <ion-input type="char" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Total de Pessoas:</ion-label>
        <ion-input type="char" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Total de Computador:</ion-label>
        <ion-input type="char" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">IP Camera:</ion-label>
        <ion-input type="char" value=""></ion-input>
      </ion-item>

    </ion-list>
  </div>
</ion-content>